/*
 * Global application theme.
 */
 
//LAYOUT **************************************
body {
    background: url(assets/primary-bg.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.primary-container {
    background-color: $white;
}

.primary-container {
    padding-top: 1rem;
    border-radius: 0.3rem 0.3rem 0 0;
    -webkit-border-radius: 0.3rem 0.3rem 0 0;
    -moz-border-radius: 0.3rem 0.3rem 0 0;
    -ms-border-radius: 0.3rem 0.3rem 0 0;
    -o-border-radius: 0.3rem 0.3rem 0 0;
}

.primary-container ~ .primary-container {
    padding-top: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.primary-container:last-of-type {
    border-radius: 0 0 0.3rem 0.3rem;
    -webkit-border-radius: 0 0 0.3rem 0.3rem;
    -moz-border-radius: 0 0 0.3rem 0.3rem;
    -ms-border-radius: 0 0 0.3rem 0.3rem;
    -o-border-radius: 0 0 0.3rem 0.3rem;
}


//MISC COMPONENTS **************************************
.progress-demo > .progress {
    margin-bottom: 0.25rem;
}

.progress {
    border: 0.05rem solid $gray-700;
    box-shadow: inset 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

.progress-bar {
    box-shadow: inset 0.2rem 0.2rem 0.5rem 0.05rem $gray-700;  
}

.alert {
    box-shadow:0.2rem 0.2rem 0.3rem 0.05rem rgba($black, 0.3);
}

.jumbotron {
    padding-bottom: 1rem;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-bottom: 0.5rem solid $purple;

    h1 {
        color: $purple;
    }
}

hr {
    border-top: 1px solid $indigo;
}


//NAVIGATION **************************************
.navbar-top {
    background-color: $purple;
}

.nav-link {
    cursor: pointer;
}

.navbar {
    padding: 0.2rem 1rem;
}

.navbar-collapse.show {
    padding-bottom: 0.5rem; 

    button {
        margin-top: 0.3rem;
    }
}

.dropdown-menu {
    box-shadow: 0.3rem 0.3rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);
}


//COLORS **************************************
.grad-primary {
    background-image:linear-gradient($blue, $teal, 80%, $purple);
}

.grad-secondary {
    background-image:linear-gradient(darken($cyan, 15%), $teal, 50%, $gray-700);
}

.grad-success {
    background-image:linear-gradient($green, $teal, 50%, darken($green, 20%));
}

.grad-danger {
    background-image:linear-gradient($red, lighten($pink, 10%), 50%, darken($red, 12%));
}

.grad-warning {
    background-image:linear-gradient($yellow, $gray-200, 50%, darken($orange, 20%));
}

.grad-info {
    background-image:linear-gradient(lighten($cyan, 10%), $teal, 50%, darken($cyan, 10%));
}

.grad-header {
    background-image:linear-gradient($blue, $teal, 80%, $purple);
}


//CARDS **************************************
.card-title {
    text-shadow: 0.06rem 0.06rem 0.05rem rgba(0, 0, 0, 0.4);
}

.card-header {
    color: $purple;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    text-shadow: 0.06rem 0.06rem 0.05rem rgba(0, 0, 0, 0.3);
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' 
    xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 
    0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 
    32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 
    0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 
    8h12v6H14V8zM0 8h12v6H0V8z' fill='%2379f6ff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.card-body {
    background-image: linear-gradient(0.12turn, 
    $gray-200 20%, 
    lighten($cyan, 30%) 80%, 
    $cyan 93%, $teal 95%);
}

.card-footer {
    padding: 0.3rem 0.7rem;
    background-color: $teal;
    font-size: 0.8rem;
}


//PAGINATION **************************************
.page-item.active .page-link {
    text-shadow: 0.04rem 0.04rem 00.04rem $gray-700, 0.05rem 0.05rem 0.8rem $gray-900;
    background-image:-webkit-linear-gradient($blue, $teal, 80%, $purple);
    background-image:linear-gradient($blue, $teal, 80%, $purple);
}

.page-item .page-link {
    text-shadow: 0.04rem 0.04rem 00.04rem $gray-600;
    background-image:-webkit-linear-gradient($gray-400, $gray-200, 80%, $gray-600);
    background-image:linear-gradient($gray-400, $gray-200, 80%, $gray-600);
}


//BUTTONS **************************************
.btn {
    text-shadow: 0.04rem 0.04rem 00.04rem $gray-700, 
    0.05rem 0.05rem 0.8rem $gray-900;
    
    box-shadow: none;
    background-repeat:no-repeat;

    @include hover {
        outline:0;
        outline-offset:0;
        -webkit-transition:color .5s;
        transition:color .5s;
        text-decoration:none;
        -webkit-animation-duration:.8s;
        -moz-animation-duration:.8s;
        -o-animation-duration:.8s;
        animation-duration:.8s;
        -webkit-animation-fill-mode:both;
        -moz-animation-fill-mode:both;
        -o-animation-fill-mode:both;
        animation-fill-mode:both;
        -webkit-animation-name:pulseInvert;
        -moz-animation-name:pulseInvert;
        -o-animation-name:pulseInvert;
        animation-name:pulseInvert;
    }
    
    @include hover-focus-active {
        outline:0;
        outline-offset:0;
        box-shadow: none !important;
    }
}

.btn-link {
    color: $cyan;

    @include hover-focus-active {
        color: $yellow;
    }
}

//MAIN BUTTONS
.btn-primary {
    border: 1px solid darken($blue, 20%);
    background-image:-webkit-linear-gradient($blue, $teal, 50%, darken($blue, 30%));
    background-image:linear-gradient($blue, $teal, 50%, darken($blue, 30%));
    
    @include hover-focus-active {
        border: 1px solid darken($blue, 20%);
        background-image:-webkit-linear-gradient($gray-100, $blue, 50%, $gray-100);
        background-image:linear-gradient($gray-100, $blue, 50%, $gray-100);
    }
}

//Removes display of base color when button is clicked
.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.show > .btn-primary.dropdown-toggle {
    background-image:-webkit-linear-gradient($gray-100, $blue, 50%, $gray-100);
    background-image:linear-gradient($gray-100, $blue, 50%, $gray-100);
}

.btn-secondary {
    border: 1px solid darken($cyan, 20%);
    background-image:-webkit-linear-gradient(darken($cyan, 15%), $teal, 50%, $gray-700);
    background-image:linear-gradient(darken($cyan, 15%), $teal, 50%, $gray-700);

    @include hover-focus-active {
        border: 1px solid darken($cyan, 20%);
        background-image:-webkit-linear-gradient($gray-100, $gray-600, 50%, $gray-100);
        background-image:linear-gradient($gray-100, $gray-600, 50%, $gray-100);
    }
}

.btn-success {
    border: 1px solid darken($green, 20%);
    background-image:-webkit-linear-gradient($green, $teal, 50%, darken($green, 50%));
    background-image:linear-gradient($green, $teal, 50%, darken($green, 20%));

    @include hover-focus-active {
        border: 1px solid darken($green, 20%);
        background-image:-webkit-linear-gradient($gray-100, $green, 50%, $gray-100);
        background-image:linear-gradient($gray-100, $green, 50%, $gray-100);
    }
}

.btn-danger {
    border: 1px solid darken($red, 20%);
    background-image:-webkit-linear-gradient($red, lighten($pink, 10%), 50%, darken($red, 12%));
    background-image:linear-gradient($red, lighten($pink, 10%), 50%, darken($red, 12%));
    
    @include hover-focus-active {
        border: 1px solid darken($red, 20%);
        background-image:-webkit-linear-gradient($gray-100, $red, 50%, $gray-100);
        background-image:linear-gradient($gray-100, $red, 50%, $gray-100);
    }
}

.btn-warning {
    border: 1px solid darken($yellow, 20%);
    background-image:-webkit-linear-gradient($yellow, $gray-200, 50%, darken($orange, 20%));
    background-image:linear-gradient($yellow, $gray-200, 50%, darken($orange, 20%));
    
    @include hover-focus-active {
        border: 1px solid darken($yellow, 20%);
        background-image:-webkit-linear-gradient($gray-100, $yellow, 50%, $gray-100);
        background-image:linear-gradient($gray-100, $yellow, 50%, $gray-100);
    }
}

.btn-info {
    border: 1px solid darken($cyan, 20%);
    background-image:-webkit-linear-gradient(lighten($cyan, 10%), $teal, 50%, darken($cyan, 10%));
    background-image:linear-gradient(lighten($cyan, 10%), $teal, 50%, darken($cyan, 10%));
    
    @include hover-focus-active {
        border: 1px solid darken($cyan, 20%);
        background-image:-webkit-linear-gradient($gray-100, $cyan, 50%, $gray-100);
        background-image:linear-gradient($gray-100, $cyan, 50%, $gray-100);
    }
}

//OUTLINED BUTTONS
.btn-outline-primary {
    @include hover-focus-active {
        color: $white;
        background-image:-webkit-linear-gradient($gray-100, $blue, 50%, $gray-100);
        background-image:linear-gradient($gray-100, $blue, 50%, $gray-100);
    }
}

.btn-outline-secondary {
    @include hover-focus-active {
        color: $white;
        background-image:-webkit-linear-gradient($gray-100, $gray-600, 50%, $gray-100);
        background-image:linear-gradient($gray-100, $gray-600, 50%, $gray-100);
    }
}

.btn-outline-success {
    @include hover-focus-active {
        color: $white;
        background-image:-webkit-linear-gradient($gray-100, $green, 50%, $gray-100);
        background-image:linear-gradient($gray-100, $green, 50%, $gray-100);
    }
}

.btn-outline-danger {
    @include hover-focus-active {
        color: $white;
        background-image:-webkit-linear-gradient($gray-100, $red, 50%, $gray-100);
        background-image:linear-gradient($gray-100, $red, 50%, $gray-100);
    }
}

.btn-outline-warning {
    @include hover-focus-active {
        color: $white;
        background-image:-webkit-linear-gradient($gray-100, $yellow, 50%, $gray-100);
        background-image:linear-gradient($gray-100, $yellow, 50%, $gray-100);
    }
}

.btn-outline-info {
    @include hover-focus-active {
        color: $white;
        background-image:-webkit-linear-gradient($gray-100, $cyan, 50%, $gray-100);
        background-image:linear-gradient($gray-100, $cyan, 50%, $gray-100);
    }
}


//RESPONSIVE **************************************
@media (min-width: 768px) and (max-width: 939px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .display-3 {
        font-size: 3rem;
    }

    .jumbotron {
        margin-bottom: 0.5rem;
        padding-bottom: 1rem;
    }
}

@media (max-width: 576px) {
    .display-3 {
        font-size: 3rem;
    }

    .jumbotron {
        padding: 3rem 1rem;
        margin-bottom: 0.5rem;
        padding-bottom: 1rem;
    }
}


