<app-topnav></app-topnav>

<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{title}}</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero exercitationem ipsa, corrupti suscipit pariatur, tenetur aliquid voluptatum laboriosam blanditiis dolores, officiis minima est nesciunt facere itaque perspiciatis illum ea.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>


  <div class="container primary-container">
    <div class="row">

      <div class="col-md-4">
          <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
              <h5 class="card-title">Featured Thing Goes Here</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates a recusandae dignissimos nobis praesentium sunt magni at deserunt minus. Laudantium enim dolorum cupiditate at ab, voluptatum odio iste repellat itaque?</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
            <div class="card-footer">Footer</div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card">
            <h5 class="card-header">Something</h5>
            <div class="card-body">
              <h5 class="card-title">Something Important</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sit ab voluptas, eveniet eum iure modi vero quis minima, voluptates libero eligendi. Numquam nemo ab nisi porro aspernatur maiores esse?</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
            <div class="card-footer">Footer</div>
          </div>
      </div>

      <div class="col-md-4">
          <div class="card">
            <h5 class="card-header">Nothing at All</h5>
            <div class="card-body">
              <h5 class="card-title">Nope, nothing.</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eaque aliquam, sit ducimus porro laudantium iusto consectetur impedit veniam dolor odit nulla quae tempore optio cum fugit illo eligendi iste.</p>
              <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
            <div class="card-footer">Footer</div>
          </div>
      </div>

    </div>
    <div class="row">

      <div class="col-sm-12">
          <hr/>
      </div>

    </div>
  </div>


  <div class="container primary-container">
    <div class="row">

      <div class="col-md-6">
        <div class="alert alert-primary" role="alert">
          A simple primary alert—check it out!
        </div>
        <div class="alert alert-secondary" role="alert">
          A simple secondary alert—check it out!
        </div>
        <div class="alert alert-success" role="alert">
          A simple success alert—check it out!
        </div>
        <div class="alert alert-danger" role="alert">
          A simple danger alert—check it out!
        </div>
        <div class="alert alert-warning" role="alert">
          A simple warning alert—check it out!
        </div>
        <div class="alert alert-info" role="alert">
          A simple info alert—check it out!
        </div>
        <div class="alert alert-light" role="alert">
          A simple light alert—check it out!
        </div>
        <div class="alert alert-dark" role="alert">
          A simple dark alert—check it out!
        </div>
      </div>

      <div class="col-md-6">
        <div class="progress-demo">
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
                
        <hr/>

        <article>
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-secondary">Secondary</button>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" class="btn btn-light">Light</button>
          <button type="button" class="btn btn-dark">Dark</button>
          <button type="button" class="btn btn-link">Link</button>
        </article>

        <hr/>

        <article>
          <button type="button" class="btn btn-outline-primary">Primary</button>
          <button type="button" class="btn btn-outline-secondary">Secondary</button>
          <button type="button" class="btn btn-outline-success">Success</button>
          <button type="button" class="btn btn-outline-danger">Danger</button>
          <button type="button" class="btn btn-outline-warning">Warning</button>
          <button type="button" class="btn btn-outline-info">Info</button>
          <button type="button" class="btn btn-outline-light">Light</button>
          <button type="button" class="btn btn-outline-dark">Dark</button>
        </article>

        <hr/>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, laborum harum similique aspernatur molestiae sunt voluptatem soluta saepe expedita delectus, impedit facere eius corrupti rem ipsam ipsum consequatur doloribus voluptatibus?
        </p>
      </div>

    </div>
  </div>


  <div class="container primary-container">
    <div class="row">

      <div class="col-md-6">
        <button type="button" class="btn btn-outline-secondary mr-2" placement="top"
                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
          Popover on top
        </button>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">
          Popover on right
        </button>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">
          Popover on bottom
        </button>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="left"
                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on left">
          Popover on left
        </button>
      </div>

      <div class="col-md-6">
        <hr/>
          <div class="btn-group btn-group-toggle">
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" formControlName="left" ngbButton> Left
            </label>
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" formControlName="middle" ngbButton> Middle
            </label>
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" formControlName="right" ngbButton> Right
            </label>
          </div>
      </div>

    </div>
  </div>


  <div class="container primary-container">
    <div class="row">
      <div class="col-md-6">
          <hr/>
          <p class="text-primary">.text-primary</p>
          <p class="text-secondary">.text-secondary</p>
          <p class="text-success">.text-success</p>
          <p class="text-danger">.text-danger</p>
          <p class="text-warning">.text-warning</p>
          <p class="text-info">.text-info</p>
          <p class="text-light bg-dark">.text-light</p>
          <p class="text-dark">.text-dark</p>
          <p class="text-muted">.text-muted</p>
          <p class="text-white bg-dark">.text-white</p>
      </div>

      <div class="col-md-6">
        <hr/>
        <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
        <div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
        <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
        <div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
        <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
        <div class="p-3 mb-2 bg-info text-white">.bg-info</div>
        <div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
        <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
        <div class="p-3 mb-2 bg-white text-dark">.bg-white</div>
      </div>
    </div>
  </div>


  <div class="container primary-container">
    <div class="row">
        <div class="col-sm-12">
            <hr/>
            <app-pagination></app-pagination>
        </div>
    </div>
  </div>  

  
  <div class="container primary-container">
    <div class="row">
        <div class="col-sm-12">

            <div ng-app>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" ng-model="editor" id="OptionOne" value="OptionOne" name="ChoiceOne" class="custom-control-input" (click)="toggleEditor('optionOne')">
                <label class="custom-control-label" for="OptionOne">I'm Frank</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" ng-model="editor" id="OptionTwo" value="OptionTwo" name="ChoiceOne" class="custom-control-input" (click)="toggleEditor('optionTwo')">
                <label class="custom-control-label" for="OptionTwo">I'm not Frank</label>
              </div>

              <hr/>

              <app-application-form *ngIf="showOptionOne"></app-application-form>
              <app-option-one *ngIf="showOptionOne"></app-option-one>
              <app-option-two *ngIf="showOptionTwo"></app-option-two>
    
              <button type="submit" class="btn btn-success">Sign in</button>

              <hr/>
            </div>

        </div>
    </div>
  </div>  
</main>

<footer class="container">
  <p>&copy; Heronerd 2018</p>
</footer>
