<nav class="navbar navbar-expand-lg navbar-dark navbar-top fixed-top">
  <a class="navbar-brand" class="m-0 p-0" href="#"><img class="m-0 p-0" src="assets/bluehorn-35y.png" height="35px" alt="Heronerd.com"></a>
  <div class="wrapper">
    <div class="letters">
      <a href="#"><span class="letter">h</span><span class="letter">e</span><span class="letter">r</span><span class="letter">o</span><span class="letter">n</span><span class="letter">e</span><span class="letter">r</span><span class="letter">d</span></a>
    </div>
  </div> 
  <button class="navbar-toggler" type="button" (click)="toggleCollapsed()" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ngToggler></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault"  [ngbCollapse]="isCollapsed" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" id="dropdown01" ngbDropdownToggle>Projects</a>
        <div ngbDropdownMenu aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Garden Automation</a>
          <a class="dropdown-item" href="#">Object Detection</a>
          <a class="dropdown-item" href="#">Watcher</a>
          <a class="dropdown-item" href="#">Turret</a>
          <a class="dropdown-item" href="#">Arduino</a>
          <a class="dropdown-item" href="#">Docker</a>
          <a class="dropdown-item" href="#">WWW</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" id="dropdown02" ngbDropdownToggle>Comms</a>
        <div ngbDropdownMenu aria-labelledby="dropdown02">
          <a class="dropdown-item" href="#">Messaging</a>
          <a class="dropdown-item" href="#">Email</a>
          <a class="dropdown-item" href="#">BBS</a>
        </div>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="#">Contact <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
